<section class="part2">
    <form class="card">
        <h3 class="text-center">Create a new Quote</h3>
        <hr>
        <div class="md-form">
            <label for="form3">Person's name</label>
            <input type="text" id="form3" class="form-control " name="publisher">
        </div>
        <div class="md-form" class="write-quotes">
            <label for="form2">Quotes</label>
            <input type="text" id="form2" class="form-control" name="quote">
        </div>
        <div class="md-form">
            <label for="form4">Author</label>
            <input type="text" id="form4" class="form-control" name="author">
        </div>
        <div class="md-form">
            <label class=" white-text" for="form5">Completion Date</label>
            <input type='date' id="form5" class="form-control white-text" name="completeDate">
        </div>
        <br>
        <div class="text-center">
            <button type="submit" class="waves-light btn btn-info">Post Quote</button>
        </div>
    </form>
</section>
<section class="part3">
    <div class="container flex-center">
        <div class="section-text ">
            <h2> Quotes</h2>
            <div class="myQuote">
                <button class="btn btn-success">Upvote </button>
                <button class="btn btn-success">Downvote </button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</section>