<!-- <section class="part2">
    <form class="card">
        <h3 class="text-center">Create a new Quote</h3>
        <hr>
        <div class="md-form">
            <label for="publisher">Person's name</label>
            <input type="text" class="form-control" name="publisher" [(ngModel)]="quotePublisher">
        </div>
        <div class="md-form" class="write-quotes">
            <label for="quote">Quotes</label>
            <input type="text"  class="form-control" name="quote" [(ngModel)]="quoteMessage">
        </div>
        <div class="md-form">
            <label for="author">Author</label>
            <input type="text" class="form-control" name="author" [(ngModel)]="quoteAuthor">
        </div>
        <div class="md-form">
            <label class=" white-text" for="completeDate">Completion Date</label>
            <input type="date" class="form-control white-text" name="completeDate" [(ngModel)]="quoteDate">
        </div>
        <br>
        <div class="text-center">
            <button type="submit" class="waves-light btn btn-info">Post Quote</button>
        </div>
    </form>
</section> -->
